{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'Cameras/Css/camera.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">

        <div class="row">
            <div onclick="exibir_form('1')" class="col card-dashboard">
                <p class="text-card">Adicionar cameras</p>
            </div>

            <div onclick="exibir_form('2')" class="col card-dashboard">
                <p class="text-card">Atualizar cameras</p>
            </div>

        </div>

        <div id="adicionar-camera" class="adicionar-camera">
            <form action="{% url 'camera' %}" method="POST">{% csrf_token %}
                <div class="add-cameras">
                    <h3>Cameras</h3>
                    <span class="btn-add-cameras" onclick="add_camera()">+ Adicionar camera</span>
                    <div id="form-camera">
                            <br>
                            <div class="row">
                                <div class="col-md">
                                    <input type='text' placeholder='nome' class='form-control' name='name' value="{{camera.name}}">
                                </div>

                                <div class="col-md">
                                    <input type='text' placeholder='ip' class='form-control' name='ip' value="{{camera.ip}}">
                                </div>

                                <div class="col-md">
                                    <input type='number' placeholder='porta' class='form-control' name='port' value="{{camera.port}}">
                                </div>

                                <div class="col-md">
                                    <input type='text' placeholder='usuário' class='form-control' name='user' value="{{camera.user}}">
                                </div>

                                <div class="col-md">
                                    <input type='password' placeholder='senha' class='form-control' name='password' value="{{camera.password}}">
                                </div>

                                <div class="col-md">
                                    <input type='text' placeholder='serial control' class='form-control' name='controller' value="{{camera.controller}}">
                                </div>

                            </div>
                    </div>
                </div>
                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">
            </form>
        </div>

        <div id="att_camera">
            <p></p>
            <select id="camera-select" onchange="dados_camera()" class="form-control">
                {% for camera in cameras%}
                    <option value="{{camera}}">{{camera.name}}</option>
                {% endfor %}
            </select>
            <br>
            <hr>
            <div id="form-att-camera">
                <p>Nome</p>
                <input type='text' placeholder='nome' class='form-control' id='name'>
                <p>Ip</p>
                <input type='text' placeholder='ip' class='form-control' id='ip'>
                <p>Porta</p>
                <input type='text' placeholder='porta' class='form-control' id='port'>
                <p>Usuário</p>
                <input type='text' placeholder='usuário' class='form-control' id='user'>
                <p>Senha</p>
                <input type='password' placeholder='senha' class='form-control' id='password'>
                <p>Serial do Controlador</p>
                <input type='text' placeholder='controller' class='form-control' id='controller'>
            </div>
            <div class="buttons-container">
                <span id="btn-edit-cameras" class="btn-edit-cameras" onclick="update_camera()">Salvar</span>
                <span id="btn-delete-cameras" class="btn-delete-cameras" onclick="delete_camera()">Excluir</span>
            </div>
        </div>

    </div>
    <script src="{% static 'Cameras/Js/camera.js' %}"></script>
{% endblock %}