.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  height: 100vh;
}

#video_camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#video_camera img {
  border: 5px solid var(--main-color);
  border-radius: 10px;
  width: 800px;
  height: 400px;
  object-fit: cover;
}