.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#video_form {
  display: block; /* Define os elementos como blocos para ficarem um embaixo do outro */
  margin-bottom: 20px;
}

#video_camera {
  display: block;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#video_camera img {
  border: 5px solid var(--main-color);
  border-radius: 10px;
  width: 800px;
  height: 400px;
  object-fit: cover;
  display: block; /* Define os elementos como blocos para ficarem um embaixo do outro */
}



.buttons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.buttons-container span {
    background-color: #2f4b28;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    border-radius: 22px ;
    text-align: center;
    transition: background-color 0.3s;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1; /* Faz com que cada botão ocupe espaço igual no container */
}

.btn-open-hardware:hover, .btn-keep-hardware:hover, .btn-close-hardware:hover {
    background-color: #81782f; /* Muda a cor de fundo quando o mouse está sobre o botão */
    color: #fff; /* Muda a cor do texto para branco */
}

.btn-open-hardware{

}

.btn-keep-hardware{

}

.btn-close-hardware{

}


/*.form-control{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  height: 100%;*/
/*  font-size: 14px;*/
/*  position: absolute;*/
/*}*/

