{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'Videos/Css/video.css' %}">
{% endblock %}



{% block 'dashboard' %}
    <div id="context-data"
     data-cameras="{{ cameras|safe }}"
     data-csrf-token="{{ csrf_token }}">
    </div>

    <script>
        setInterval(function() {
            fetch('keep-alive');
        }, 500);
    </script>

    <div class="container">

        <div id="video_form">{% csrf_token %}
            <form id="camera-form">
                <select id="camera-select" name="camera" class="form-control" onchange="changeCam()">
                    {% for camera in cameras%}
                        <option value="{{camera}}">{{camera.name}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div id="video_camera">
	        <img src="{% url 'stream' %}" alt="Vídeo ao Vivo">
        </div>

        <div class="buttons-container">
            <span id="btn-open-hardware" class="btn-open-hardware" onclick="open_door()">Pulsar</span>
            <span id="btn-keep-hardware" class="btn-keep-hardware" onclick="keep_door()">Manter Aberto</span>
            <span id="btn-close-hardware" class="btn-close-hardware" onclick="close_door()">Fechar</span>
        </div>
    </div>
    <script src="{% static 'Videos/Js/video.js' %}"></script>
{% endblock %}

